//**
// Homepage
//**

body, html {
  height: 100%;
  margin: 0;
}

body {
  background-image: linear-gradient(rgba(48, 67, 82, 0.1), rgba(215, 210, 204, 0.15)),url('/img/landing-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


main {
  padding-left: 100px;
}

h1 {
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
  width: 54%;
}

.intro {
  color: $white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  // align-items: center;
  text-align: center;
  // border: 1px solid #ffffff;
  // background-color: rgba(0, 0, 0, 0.25);
  padding: 1rem 0;
  margin-top: 45px;
  position: relative;

  .icons-wrapper {
    .top-left, .top-right, .bottom-right, .bottom-left {
      position: absolute;
    }
    .top-left {
      top: 20px;
      left: 20px;
      transform: rotate(-45deg)
    }

    .top-right {
      top: 20px;
      right: 20px;
    }

    .bottom-right {
      bottom: 20px;
      right: 20px;
    }

    .bottom-left {
      bottom: 20px;
      left: 20px;
    }
  }

  

  .separator {
    height: 2px;
    width: 80px;
    background-color: white;
  }

  p {
    margin: 0.6rem 0;
    font: {
      family: 'Nunito', sans-serif;
      size: 0.95rem;
      weight: 400;
    }
    // span {
    //   font-size: 1.2rem;
    // }
  }

  // p:last-of-type {
  //   font-size: 0.8rem;
  // }
}

footer {
  margin-top: 45px;
  width: 50%;
  padding-left: 100px;
}

.icons-wrapper {
  display: flex;
  justify-content: center;
  img {
    height: 32px;
  }
}

.signup-form {
  margin-top:2em;
  width: 100%;
  @media(min-width:600px) {
   max-width: 750px;
  }
  form {
    display: flex;
    justify-content: flex-start;
  }
  input {
    font-family: 'Quicksand', sans-serif;
    // width: 100%;
    font-size: 90%;
    border: 0 none;
    border-radius:0;
    text-align: center;
    margin: 0 0.5rem 1rem 0rem;
  }
  input[type="text"] {
    border: solid 2px #333;
  }
  .btn {
    background: #FBBC30;
    color: #3c3c3c;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 140px;

    &:hover,
    &:focus {
      background: #ffb716;
      color: rgba(255, 255, 255, 1);
      border: 1px solid #3e3a33;
    }
    &:focus {
      outline: 0 none;
    }
  }

  div#mce-responses {
    font-family: 'Quicksand', sans-serif;
    font-weight:normal !important;
    margin-bottom:0.5em !important;
  }

  div#mce-success-response,
  div#mce-error-response,
  div.mce_inline_error {
    font-weight:normal !important;
  }

  div#mce-success-response,
  div#mce-error-response {
    margin-bottom: 1em !important;
  }

  div#mce-error-response,
  div.mce_inline_error {
    color:#c62a6a !important;
  }

  div.mce_inline_error {
    font-size:80% !important;
    background: none !important;
    margin-top: -1em !important;
    padding:0 !important;
  }

}
